* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
:root {
  --dark: #16697A;
  --medium: #489FB5;
  --light: #82C0CC;
  --noWhite: #EDE7E3;
  --accent: #FFA62B;
}

a {
  color: var(--noWhite);
  text-decoration: none;
}

body {
  background-color: var(--noWhite);
}

h1 {
  margin: 0;
  margin-left: 10px;
  color: var(--noWhite);
  font-size: 40px;
}

h4 {
  text-align: center;
}

p {
  color: var(--noWhite);
}

#about-me img{
  float: center;
  clear: center;
  margin: 20px;
  height: 200px;
}

#about-me ul {
  color: var(--noWhite);
}

.img-fluid {
  border-radius: 20px;
  padding: 10px;
}

header {
  /* width: 100%; */
  /* height: 120px; */
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark);
  color: var(--noWhite);
  justify-content: space-between;
  padding: 20px 20px 5px 0px;
}

nav ul{
  display:flex;
  flex-direction: row;
  flex-basis:auto;
  float: right;
  padding: 20px;
  background-color: var(--very-dark);
  border: 0px;
}

nav li{
  list-style: none;
  background-color: var(--very-dark);
  color: var(--accent);
}

nav a{
  background-color: var(--very-dark);
  padding:10px;
  margin:5px;
  /* text-decoration: none; */
  position:relative;
  text-decoration: double;
}


footer{
  background-color: var(--dark);
  color: var(--noWhite);
  margin-bottom: 0;
  padding-bottom: 20px;
}

.main-header-menu {
  background-color: var(--dark);
  color: var(--noWhite);
  text-decoration: none;
  display: flex;
  font-family: helvetica;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.view-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  min-height: 600px;
  background: var(--medium);
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

.view-card img {
  max-width: 80%;
}

@media screen and (max-width: 600px) {
  .view-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    min-height: 600px;
    background: var(--medium);
    text-align: center;
    margin: 32px auto;
    border-radius: 20px;
    padding-bottom: 32px;
  }
  .view-card img {
    max-width: 60%;
  }
}

h3 {
  margin: auto;
  color: var(--noWhite);
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}



